<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Run, Santa, Run!</title>
</head>
<body>
  <div style="min-height:95vh; height:95vh; max-height:95vh;">
    <button id="btn" style="width:100%; height:100%;">
      Jump!
    </button>
  </div>

  <script>
      const ws_scheme = (window.location.protocol == 'https:') ? 'wss' : 'ws';
      const ws = new WebSocket(ws_scheme+'://' + window.location.host + '/ws/');
    const btn = document.getElementById('btn');
    btn.onmousedown = down;
    btn.onmouseup = up;
    // mobile: no mouse, but touch events
    btn.ontouchstart = down;
    btn.ontouchend = up;
    // mobile: long click opens context menu
    btn.oncontextmenu = e => {
      event.preventDefault();
      event.stopPropagation();
      return false;
    };

    function down(e) {
      ws.send('{"action": "jump"}');
      e.preventDefault();
      e.target.style.backgroundColor = 'darkblue';
    }

    function up(e) {
      ws.send('{"action": ""}');
      e.preventDefault();
      e.target.style.backgroundColor = '';
    }

    ws.onclose = e => {console.log("Error: socket closed unexpectedly", e);};
  </script>
</body>
</html>
