{% load static %}
<audio id="music" src={% static "audio/run_santa_run_bg.mp3"%}></audio>
<audio id="countdown" src={% static "audio/start_sound_beep_3.mp3"%}></audio>
<audio id="jump" src={% static "audio/jump.mp3"%}></audio>
<audio id="win" src={% static "audio/win.mp3"%}></audio>
<audio id="gameover" src={% static "audio/game_over.mp3"%}></audio>

<script src={% static "js/app.js"%}></script>
<script src={% static "js/level_reader.js"%}></script>
<script src={% static "js/audio.js"%}></script>

<script>
    let img_path = "{% static "images"%}"
    const bgImage = new Image();
    bgImage.src = img_path+ "/bg.png";
    let images = [];
    for (let i = 1; i < 5; i++) {
      const img = new Image(); // Create new img element
      img.src = img_path + "/img" + i + ".png"; // Set source path
      images.push(img);
    }
    let jumpImg = new Image();
    jumpImg.src = img_path + "/jump.png";
    
    let textureImg = new Image();
    textureImg.src = img_path + "/texture.png"

    let victoryImg = new Image();
    victoryImg.src = img_path + "/victory.PNG"

    let gameoverScreenImg = new Image();
    gameoverScreenImg.src = img_path + "/gameoverScreenImg.png"
    let victoryScreenImg = new Image();
    victoryScreenImg.src = img_path + "/victoryScreenImg.png"
    let startScreenImg = new Image();
    startScreenImg.src = img_path + "/startScreenImg.png"
    
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const windowInnerWidth = window.innerWidth;
    const windowInnerHeight = window.innerHeight;

    ctx.canvas.width = width;
    ctx.canvas.height = height;

	gamestate = new Gamestate();
    let player = new Player(100, 200, 50, 80);
	player.images = images;
    player.jumpImg = jumpImg;
	gamestate.background = bgImage;
    gamestate.textureImg = textureImg;
    gamestate.victoryScreenImg = victoryScreenImg;
    gamestate.startScreenImg = startScreenImg;
    gamestate.gameoverScreenImg = gameoverScreenImg;
	gamestate.addDrawable(player);
    let lastRenderTime = 0;
    ctx.fillStyle = "beige";
    gamestate.ctx = ctx;
    generatelevel(gamestate);

    function main(currentTime) {
      gamestate.set_dt((currentTime - lastRenderTime) / 1000);
      lastRenderTime = currentTime;
      gamestate.currentMode();
      window.requestAnimationFrame(main);
    }

    function jump() {
      gamestate.player.shouldJump = true;
    }

    function notJump() {
      gamestate.player.shouldJump = false;
    }

    function start() {
      gamestate.switchMode("play");
    }
    window.requestAnimationFrame(main);
    </script>
        <div>
      <span id="num_jumping">0</span> / <span id="num_players">0</span> players are jumping
    </div>
  </div>
