<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>Run, Santa, Run!</title>

  <script type="text/javascript" src="{% static '3rdparty/qrcode/qrcode.min.js' %}"></script>

  <style>
    @keyframes jump {
      0% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
      100% { transform: translateY(0); }
    }
  </style>
</head>
<body>
  <div style="display:flex; justify-content:space-between">
    <div>
      <span id="addr-span"></span>
      <button onclick="generateQR(window.location.origin);">🔀</button>
    </div>
    <a href={% url 'run' %}>Run!</a>
    <div>
      <span id="num_jumping">0</span> / <span id="num_players">0</span> players are jumping
    </div>
  </div>

  <div id="qrcode" style="width:200px; height:200px; margin-top:15px;"></div>

  
  
  <div style="display:flex; justify-content:center; align-items:center; text-align:center; min-height:10vh; min-width:10vh;">
    <div id="santa" style="background:red; width:25px; height:25px;"></div>
  </div>
  
  
  <div>
    
    
    
  </div>
  <div></div>
  <div></div>
  
  
  
  
  
  <label for="avatar">Choose level as svg File:</label>
    <input name="levelInput" type="file" id="fileInput" accept=".svg">
  
    <canvas id="canvas"></canvas>
    <button
      id="jumpButton"
      onmousedown="jump()"
      onmouseup="notJump()"
      onmouseout="notJump()"
    >
      Jump
    </button>
    <button id="startButton" onclick="start()">Start</button>

    <input id="musicFile" type="file" accept="audio/*" />
    <input id="countdownFile" type="file" accept="audio/*" />
    <p>audio</p>

    <audio id="music" src="test.mp3"></audio>
    <audio id="countdown" src="test.mp3"></audio>
    <button
      id="audioButton"
      data-playing="false"
      role="switch"
      aria-checked="false"
    >
      <span>Play/Pause</span>
    </button>

    <script src={% static "js/audio.js"%}></script>
    <script src={% static "js/level_reader.js"%}></script>
    <script src={% static "js/app.js"%}></script>

    <script>
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const windowInnerWidth = window.innerWidth;
    const windowInnerHeight = window.innerHeight;

    ctx.canvas.width = width;
    ctx.canvas.height = height;

    gamestate = new Gamestate();
    let lastRenderTime = 0;
    ctx.fillStyle = "beige";
    gamestate.ctx = ctx;
    let images = [];
    for (let i = 1; i < 4; i++) {
        const img = new Image(); // Create new img element
        let static_path = "{%  static "images/"%}"
        img.src = static_path + "img" + i + ".png"; // Set source path
        images.push(img);
    }

    const bgImage = new Image()
    bgImage.src = "{%  static "images/bg.png"%}";

    function generatelevel(gamestate) {
      let b = new Player(100, 200, 50, 80);
      b.images = images;
      gamestate.drawables = [];
      gamestate.addDrawable(b);
      gamestate.background = bgImage;
      if (svgDoc == null) {
        gamestate.addDrawable(new Box(105, 150, 5,150));
        gamestate.addDrawable(new Box(350, 400, 30, 100));
        gamestate.addDrawable(new Box(900, 400, 30, 100));
        gamestate.addDrawable(new Box(0, 450, 360, 20));
        return;
        }
      let boxes = generateXmlLevel(svgDoc);
      let offset = 8950;
      for (const box of boxes) {
        gamestate.addDrawable(new Box(box.x-offset, box.y, box.width, box.height));
      }
    }

    generatelevel(gamestate);

    function main(currentTime) {
      gamestate.set_dt((currentTime - lastRenderTime) / 1000);
      lastRenderTime = currentTime;
      gamestate.currentMode();
      window.requestAnimationFrame(main);
    }

    function jump() {
      gamestate.player.shouldJump = true;
    }

    function notJump() {
      gamestate.player.shouldJump = false;
    }

    function start() {
      gamestate.switchMode("play");
    }
    window.requestAnimationFrame(main);
    </script>
  
  
  
  <script>
    var is_jumping = false;
    const ws_scheme = (window.location.protocol == 'https:') ? 'wss' : 'ws';
    const ws = new WebSocket(ws_scheme +'://' + window.location.host + '/ws/santa/');
    ws.onclose = e => {console.log("Error: socket closed unexpectedly", e);};
    ws.onmessage = m => {
      //console.log(m);
      let data = JSON.parse(m.data)
      let jumping = data["jumping"];
      let players = data["players"];
        document.getElementById("num_jumping").textContent = jumping + "";
        document.getElementById("num_players").textContent = players + "";
        let should_jump = jumping >= players / 2;
        if (should_jump) {
            jump()
        } else {
            notJump()
        }
        if (should_jump && !is_jumping) {
            document.getElementById("santa").animate([
                {transform: "translateY(0)"},
                {transform: "translateY(-16px)"},
                {transform: "translateY(0)"},
        ], {
          duration: 256,
          iterations: 1,
        });
      }
      is_jumping = should_jump;
    };

    var qrcode = null;
    function generateQR(addr) {
      if (qrcode)
        qrcode.makeCode(addr);
      else
        qrcode = new QRCode(document.getElementById("qrcode"), {
          text: addr,
          width : 200,
          height : 200,
        });
      document.getElementById("addr-span").textContent = addr;
    }

    let addr = "{{ ip }}:{{ port }}";
    if (!addr.startsWith("http"))
      addr = "http://" + addr;
    generateQR(addr);
  </script>
</body>
</html>
